@media (min-width: 767px){
    .menu__list{
        display: flex;
        align-items: center;
    }
    .menu__list > li{
        padding: 10px 0;
    }
    .menu__sub-list{
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        /* pointer-events: none; */
        transition: all 0.3s ease 0s;
    }
}

@media (max-width: 1200px){
    .headerlogo{
        margin-bottom: 100px;
    }
    .headerlogo .linka{
        padding-bottom: 30px;
     }
       .headerlogo h2{
           font-size: 40px;
           color:#333;
       }
       .headerlogo p{
           color:#333;
       }
  
}
@media (min-width: 1200px){
  .headerlogo .linka{
     padding-bottom: 30px;
  }
    .headerlogo h2{
        font-size: 40px;
        color:#333;
    }
    .headerlogo p{
        color:#fff;
    }
    .headerlogo{
        margin-bottom: 200px;
    }
}
@media (max-width: 767px){
    .page__section3 .page__text .block h1{
        font-size: 30px;
    }
    .headerlogo h2{
        font-size: 30px;
    }
    .headerlogo p{
        color:#fff;
    }
    .page__section_footer a{
margin: 0 auto;
padding: 10px;

    }
    .page__section_footer p{
        margin: 10px;
        text-align: center;
    }
    .page__section_footer img{
        margin: 10px;
    }
    .page__section5 {
        display: flex;
        flex-wrap: wrap;
    } 
    .headerlogo .linka {
        padding-bottom: 50px;
    }
 .page__section_footer .block_footer{
display: flex;
flex-wrap: wrap;
 }
 .page__section_footer a{
font-size: 15px;
 }
    .page__section2  .page__text .list ul li {
        font-size: 15px;
    }
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span, .menu__icon::before, .menu__icon::after {
   position: absolute;
   left: 0;
   height: 10%;
   width: 100%;
   transition:all 0.3s ease 0s;
   background-color: #fff;

    }
    .menu__icon::before, .menu__icon::after {
        content: "";
    }
    .menu__icon::before{
        top: 0;
    }
    .menu__icon::after{
        bottom: 0;
    }
    .menu__icon span{
        top: 50%;
        transform:scale(1) translate(0px, -50%);
    }
    .menu__icon._active span{
        transform:scale(0) translate(0px, -50%);    
    }
    .menu__icon._active::before{
        top: 50%;
        transform:rotate(-45deg) translate(0px, -50%); 
    }
    .menu__icon._active::after{
        bottom: 50%;
        transform:rotate(45deg) translate(0px, 50%); 
    }
    .menu__body{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(132, 167, 151, 0.73);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu__body._active{
        left: 0;
    }
    .menu__body::before{
       content: "";
       position: fixed;
       width: 100%;
       top: 0;
       left: 0;
       height: 70px;
       background-color:rgba(132, 167, 151, 0.73);
       z-index: 2;
    }
    .menu__list > li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
    }
    .menu__list > li:last-child {
        margin: 0;
    }
    .menu__list > li._active .menu__sub-list {
        display: block;
    }
    .memu__link {
        font-size: 24px;
    }
    .menu__sub-list {
        position: relative;
        background-color: #fff;
        flex: 1 1 100%;
        margin:20px 0px 0px 0px;
        display: none;
    }
    .memu__sub-link {
        font-size: 20px;
        color: black;
    }
    .flexcont a{
        font-size: 15px;
        padding: 10px;
     
    }
    .flexcont a:first-child{
        padding-right: 30px;
    }
    .headerlogo h1{
        font-size: 40px;
    }
   .img img{
        display: none;
    }
    .page__section1 .page__text{
        background-image: url(../img/wash.png);
        background-size: cover;
    box-shadow: inset 0 0 0 200vw rgba(255, 255, 255, 0.76)
    
    }
    .page__section1 .page__text{
        display: flex;
        flex-wrap: wrap;
    }
    .page__section1   .page__text .text-section1 a{
        padding: 5px 10px 5px 10px;
        font-size: 10px;
    }
    .info-section1 ul li{
        font-size: 15px;
    }
    .text-section1 p{
        font-size: 15px;
    }
    
}
@media (max-width: 1117px){
    .page__section1   .page__text .text-section1 a{
        padding: 12px 17px 12px 17px;
        font-size: 12px;
    }

    .info-section1 ul li{
        font-size: 20px;
    }
}
@media (max-width: 909px){
    .page__section1   .page__text .text-section1 a{
        padding: 10px 14px 10px 14px;
        font-size: 15px;
    }
    .text-section1 p{
        font-size: 12px;
    }
}
@media (max-width: 875px){
    .page__section1   .page__text .text-section1 a{
        padding: 8px 10px 8px 10px;
        font-size: 8px;
    }
    .text-section1 p{
        font-size: 12px;
    }
    .page__section2  .page__text .list ul li {
        font-size: 15px;
    }
}
@media (max-width: 708px){
    .page__section2  .page__text .list ul li {
        font-size: 12px;
    }
}
@media (max-width: 600px){
    .page__section_footer a{
        margin: 0 auto;
        padding: 10px;
        
            }
            .page__section_footer p{
                margin: 10px;
                text-align: center;
            }
            .page__section_footer img{
                margin: 10px;
            }
    .page__section2  .page__text .list ul li {
        font-size: 15px;
    }
    .page__section2 .page__text .img_page__section2 img{
        display: none;
    }
    .page__section1   .page__text .text-section1 a{
        padding: 10px 14px 10px 14px;
        font-size: 15px;

    }
    .page__section1   .page__text .text-section1  {
margin-bottom: 20px;
    }
    
}
@media (max-width: 380px){
    .page__section1 .page__title{
        font-size: 30px;
    }
    .headerlogo .tel a{
font-size: 30px;
    }
    .headerlogo .linka a{
font-size: 20px;
    }
    .page__section3 .page__text .block a{
        font-size: 10px;
        padding: 10px 10px 10px 10px ;
    }
    .page__section3 .page__text .block h1{
        font-size: 30px;
    }
    .headerlogo h1{
        font-size: 30px;
    }
   
    .page__section_footer a{
margin: 0 auto;
padding: 10px;

    }
    .page__section_footer p{
        margin: 10px;
        text-align: center;
    }
    .page__section_footer img{
        margin: 10px;
    }
}






@media (max-width: 409px){
    .page__section3 .page__text .block h1{
        font-size: 35px;
    }
    .page__section .linka a{
        font-size: 20px;
    }

}
@media (max-width: 430px){
    .page__section3 .page__text .block a{
       font-size: 17px;
    }
    .headerlogo .tel p{
        background:rgba(255, 255, 255, 0.603);
    }
    .headerlogo  h2{
        background:rgba(255, 255, 255, 0.603);
    }
}


@media (max-width: 389px){
    .headerlogo .flexcont img{
width: 50px;
    }
    .page__section3 .page__text .block h1{
        font-size: 30px;
    }
}

@media (max-width: 500px){
    .page__section_footer h1{
        display: none;
    }
}
@media (max-width: 350px){
    .page__section3 .page__text .block{
        width: 100%;
    }
    .page__section3 .page__text .block a{
font-size: 15px;
    }
    .page__section3 .page__text .block h1{
font-size: 25px;
    }
    .headerlogo .linka a{
        font-size: 15px;
    }
}
@media(max-width: 330px){
    .page__section3 .page__text .block a{
        font-size: 15px;
        padding: 7px;
    }
}