$bgsection:rgba(123, 160, 197, 0.73);
$bgheader:rgba(19, 73, 117, 0.73);
@mixin link {
            color: rgb(255, 255, 255);
            padding: 15px 25px 15px 25px ;
            border: 2px solid $bgsection;
            background: rgba(19, 73, 117, 0.73);;
            border-radius: 10px;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 10px;
}
@mixin link-cont {
    color: rgb(92, 91, 91);
    padding: 10px 20px 10px 20px ;
    border: 2px solid $bgsection;
    background: rgba(255, 255, 255, 0.73);;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;}
@mixin h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
@mixin  li {
    font-size: 23px;
    padding-bottom: 20px;
    font-weight: 500;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
   background-image: url(../img/Washing-Machine.jpeg);

    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
body._lock{
    overflow: hidden;
}
.wrapper{
    min-height: 100%;

}
.page{
    padding: 90px 0px 30px 0px;
    color: #333;
}
.page__section{
padding: 30px;
max-width: 1200px;
margin: 0 auto;
}

.page__title{
font-size: 40px;
margin: 0px 0px 20px 0px;
}
.page__text{
font-size: 16px;
line-height: 150%;
p{
    margin: 0px 0px 20px 0px;
}
}

.page__sub-title{
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background:$bgheader;
   
}
.header__container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}
.header__logo{
position: relative;
z-index: 5;

}

.memu__link{
    color: #fff;
    font-size: 18px;
    &:hover{
        text-decoration: underline;
    }
    }

.menu__sub-list{
position: absolute;
top: 100%;
right: 0;
background-color: #333;
padding: 15px;
min-width: 200px;

li{
    margin: 0px 0px 10px 0px;
}
}
.menu__sub-list li:last-child{
    margin: 0;
}
.memu__sub-link{
color: #fff;
&:hover{
    text-decoration: underline;
}
}
.menu__list > li{
    position: relative;
    margin: 0px 0px 0px 20px;
}
body._pc .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility:visible;
    transform: translate (0px, 0px);
    pointer-events: all;
   }
body._touch .menu__list > li {
    display: flex;
    align-items: center;
}
body._touch .menu__arrow{
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    transition:transform 0.3s ease 0s;
    border-left:5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
}
body._touch .memu__link {
    flex: 1 1 auto;
}
body._touch .menu__list > li._active .menu__sub-list {
    opacity: 1;
    visibility:visible;
    transform: translate (0px, 0px);
    pointer-events: all;
   }
body._touch .menu__list > li._active .menu__arrow{
transform: rotate(-180deg);
}
.menu__arrow{
    display: none;
}
.menu__icon {
    display: none;
}
.headerlogo{
    max-width: 100%;
    height: 100%;

.tel{
    text-align: center;
    margin-top: 60px;

    a{
        font-size: 45px;
        text-align: center;
        color: rgb(36, 35, 35);
        font-weight: bolder;
    }
    p{
        font-size: 20px;
        color: rgb(36, 35, 35);  
    }
}
    .flexcont{
    text-align: center;
        a{

                img{
                    padding-top: 10px;
                 }
               }
    }
    .linka{
       text-align: center;
       padding-top: 20px;
       a{
        @include link;
       }
    }


    h2{
        text-align: center;
        font-size: 30px;
        color: rgb(54, 54, 54);
        padding:30px 0 30px 0;
        font-weight: bolder;
        
    }
    .img_logo{
        img{
            background-image: 
        linear-gradient(to bottom, #4379a3ba, rgba(245, 246, 252, 0.52),);
        padding: 20px;
        
        }
    }
  }
  .page__section1{
      padding-bottom: 100px;
      color: #333;
    h1{
        @include h1;
    }
      .page__text{
          display: flex;
          justify-content: space-between;
      
          .text-section1{
           
              a{
                  color: white;
                padding: 10px 20px 10px 20px ;
                border: 2px solid $bgsection;
                background: rgba(255, 255, 255, 0.73);
                border-radius: 10px;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
                  animation: button 1300ms infinite;
                  @keyframes button {
                    0% { background-color: #909ad4; box-shadow: 0 0 5px #6386ad; }
                    50% { background-color: #a1c3d1; box-shadow: 0 0 20px #97b0c4; }
                    100% { background-color: #9da8e7; box-shadow: 0 0 5px #8b94e4; }
              }
          }
          p{
              font-size: 25px;
              padding-top: 30px;
              padding-bottom: 90px;
          }
             }
          }
  }
  .img{  
    img{
       width: 100%;
       height: auto;
       min-width: 500px;
       transition:all 0.9s ease 0s;
       padding-right: 40px;
       &:hover{
           transform: scale(1.1);
           }
       }
    }

.info-section1{
      ul{
        li{
      @include li;
      list-style:circle;

        }
      }
    }
.page__section2{
    padding-bottom: 100px;
    h2{
       @include h1;
    }
    .page__text{
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        .img_page__section2{
            img{
                width: 100%;
                height: auto;
                padding-right: 20px;
            }
        }
        .list{
            ul{
                li{
                    @include li;
                    padding-top: 10px;
                    transition:all 0.9s ease 0s;
                    &:hover{
                        transform: scale(1.1);
                        color: rgb(93, 102, 136);
                    }
                    &::before{
                            content: "🔧";
                            margin-right: 5px;
                    }
                }
            }
        }
    }
}
.page__section3{
    margin-bottom: 100px;
   h2{
    @include h1;
   }
   p{
       text-align: center;
       font-weight: 200;
       margin-bottom: 40px;
   }
   .page__text{
       display: flex;
       flex-wrap: wrap;
    .block{
        transition:all 0.9s ease 0s;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 500px;
        padding:50px;
        height: auto;
        text-align: center;
        background:  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(19, 73, 117, 0.73));
        &:hover{
            transform: scale(1.1);
        }
        h4{
            font-size: 30px;
            margin-bottom: 40px;
        }
        h1{
            font-size: 50px;
            margin-bottom: 40px;
            font-weight: 600;
        }
        a{
            @include link;
        }
    }
     
   }
}
.page__section4{
    margin-bottom: 100px;
    .link{
      text-align:center;
        a{
            padding: 10px;
            display: inline-block;
             transition: 0.4s ease 0s;
             &:hover{
                 transform: scale(1.2);
             }
         }
    }

    h2{
        @include h1;
    }
    p{
        text-align: center;
        font-size: 25px;
        font-weight: 300;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .page__text{
        display: flex;
        justify-content: space-between;
        img{ transition:all 0.9s ease 0s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
.page__section5 {
    display: flex;
    justify-content: space-between;
    .block{
        width: 500px;
h2{
    font-size: 50px;
    padding-bottom: 30px;
    line-height: 40px;
    font-weight: bold;
}
p{
    font-size: 20px;
    line-height: 40px;
}
    }
    .page__text{
        .img_page__section2{
            img{
                width: 100%;
                height: auto;
                animation: but 1300ms infinite;
                @keyframes but {
                    0%{
                        transform: scale(1.2);
                    }
                    50%{
                        transform: scale(1.3);
                    }
                    100%{
                        transform: scale3d(1.1);
                    }
                }
                }
            }
        }
    }
.page__section_footer{
    background: $bgsection;
    h1{
        margin-bottom: 20px;
        font-weight: 700;
        color:rgb(80, 78, 78);

       
    }
    p{
        font-size: 10px;
    }
    a{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    img{
        margin-bottom: 20px;
    }
    .block_footer{
        padding: 20px;
        display: flex;
        justify-content: space-around;
        .blockF3{
            display: flex;
            flex-direction: column;

          
        }
    }
}














